#TaskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#title,
#description {
    background-color: #d67d0b;
    height: 45px;
    width: 400px;
    border: 2px solid #3f3f3f;
    border-radius: 6px;
    padding: 8px;
    font-size: 22px;
    font-family: Arial;
    color: whitesmoke;
    text-align: center;
}

#description {
    height: 70px;
    color: whitesmoke;
}
#title::placeholder,
#description::placeholder {
    color: whitesmoke;
}


#AddTaskButton {
    background-color: #d67d0b;
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 22px;
    color: whitesmoke;
}

body {
    background-color: #121212;
}

h1 {
    color: whitesmoke;
    text-align: center;
}

#TaskList {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    width: 100%;
}

#TaskList li {
    background-color: #d67d0b;
    border: 1px solid #334155;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#TaskList li strong {
    font-size: 18px;
    font-weight: 600;
    color: #121212;
}

#TaskList li span {
    font-size: 15px;
    line-height: 1.4;
    color: white;
}

.deleteBtn {
    align-self: flex-end;
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.deleteBtn:hover {
    align-self: flex-end;
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.deleteBtn:hover {
    background-color: #dc2626;
}

#emptyState {
    text-align: center;
    color: #9ca3af;
    margin-top: 20px;
}
