#TaskForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#title,
#description {
    background-color: #B9EBD4;
    height: 45px;
    width: 400px;
    border: 2px solid #3f3f3f;
    border-radius: 6px;
    padding: 8px;
    font-size: 22px;
    font-family: Arial;
    color: black;
}

#description {
    height: 70px;
    color: black;
}
#title::placeholder,
#description::placeholder {
    color: black;
}


#AddTaskButton {
    background-color: #B9EBD4;
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 22px;
    color: black;
}

body {
    background-color: #121212;
}

h1 {
    color: whitesmoke;
    text-align: center;
}